<%- include("partials/header"); -%>
<div class="bgofpost">
  
      <h1 class="post-title-single"><%=title%></h1>

      <div class="postbody">
        <h2 style="opacity: 1">Name : <%=name%></h2>
        <h2 class="">Mobile no: <%=mobile%></h2>
        <h2 class="">Location Pincode: <%=pincode%></h2>
        <br />
        <p class=""><%=content%></p>
      </div>
    </div>
    
  </div>
</div>
<%- include("partials/footer"); -%>
